<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362356262617-l56jpdn84b3khv3c1l43sdnmsbi4qmml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362356262617-l56jpdn84b3khv3c1l43sdnmsbi4qmml</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>362356262617-g5cdmvd20bc2v932rlbvcu7ds751kplo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANQyWrOsY0ooaVAcLxvho4qYY4Zk5sbKU</string>
	<key>GCM_SENDER_ID</key>
	<string>362356262617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.dcl</string>
	<key>PROJECT_ID</key>
	<string>dcl-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>dcl-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362356262617:ios:412d4300887c8bf87ae0c8</string>
	<key>DATABASE_URL</key>
	<string>https://dcl-ios-default-rtdb.firebaseio.com</string>
</dict>
</plist>